.pa {
  padding: 15px;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme {
  --color__bg: #ffffff;
  --color__bg__grey: #f3f5f8;
  --color__primary: #572ee5;
  --color__text: #060a24;
  --color__primary__transparent: rgba(87, 46, 229, 0.9);
}

.theme--dark {
  --color__bg: #37383c;
  --color__bg__grey: #222326;
  --color__primary: #ffffff;
  --color__text: #ffffff;
  --color__primary__transparent: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

body {
  background-color: var(--color__bg);
}

#svg-GIFOS {
  fill: var(--color__primary);
}

.section-header {
  padding: 10%;
}

#section-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-search img {
  width: 70%;
}

.section-search-footer {
  padding: 5% 10% 10% 10%;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid var(--color__primary);
}

.bar i {
  position: absolute;
  right: 40px;
  font-size: 20px;
  color: var(--color__primary);
}

.bar input {
  font-family: "Roboto", sans-serif;
  background-color: var(--color__bg);
  color: var(--color__text);
  width: 80%;
  height: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#trending-GIFOS {
  background-color: var(--color__bg__grey);
}

.list-gifs ul {
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 10%;
  padding-bottom: 20%;
}

.navbar {
  position: relative;
  z-index: 2;
  font-size: 1rem;
  padding: 5px 10%;
  border-top: 6px solid var(--color__primary__transparent);
}

@media (max-width: 767px) {
  .navbar {
    padding: 20px;
  }
}

.navbar img {
  width: 80px;
}

@media (max-width: 767px) {
  .navbar img {
    width: 60px;
  }
}

#menu-input {
  /*movimiento a cruz*/
}

#menu-input:checked ~ #menu {
  max-height: 100vh;
  -webkit-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}

#menu-input:checked ~ label span:nth-child(1) {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, 0px);
          transform: rotate(45deg) translate(1px, 0px);
}

#menu-input:checked ~ label span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-input:checked ~ label span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(0px, 1px);
          transform: rotate(-45deg) translate(0px, 1px);
}

#menu {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #menu {
    font-size: 1rem;
    position: absolute;
    top: 100px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: var(--color__primary__transparent);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100vh;
    max-height: 0;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
    letter-spacing: 0;
    line-height: 28px;
    overflow: hidden;
  }
}

#menu li {
  padding: 14px 25px;
}

@media (max-width: 1023px) {
  #menu li {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#menu li hr {
  display: none;
  width: 41px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  #menu li hr {
    display: block;
  }
}

@media (max-width: 767px) {
  #menu li .circle-button {
    display: none;
  }
}

.links-nav {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--color__primary);
}

@media (max-width: 767px) {
  .links-nav {
    color: #ffffff;
  }
}

.links-nav:after {
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #50e3c2;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.links-nav:hover:after {
  width: 100%;
  left: 0;
}

.links-nav:active {
  color: #cdd6e0;
}

#icon-bars span {
  display: none;
}

@media (max-width: 767px) {
  #icon-bars span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 4px;
    background: var(--color__primary);
    -webkit-transform-origin: 3px 0px;
            transform-origin: 3px 0px;
    -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.55s ease, -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, opacity 0.55s ease;
    transition: transform 0.5s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
  }
}

#icon-bars span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#icon-bars span:nth-child(3) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

footer p {
  font-family: "Roboto", sans-serif;
  color: var(--color__text);
}

.social-icons {
  padding: 5%;
}

.social-icons i {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #cdd6e0;
}

.circle-button {
  display: inline-block;
  background-color: var(--color__bg);
  border: 1px solid var(--color__primary);
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.circle-button span {
  display: block;
  width: 17px;
  height: 2px;
  background-color: var(--color__primary);
  position: relative;
  left: 18px;
}

.circle-button .line-1 {
  top: 25px;
}

.circle-button .line-2 {
  top: 23px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.circle-button:hover {
  background-color: var(--color__primary);
}

.circle-button:hover span {
  background-color: var(--color__bg);
}

.circle-button:active {
  background-color: #cdd6e0;
  border: 1px solid #cdd6e0;
}

.circle-button:active span {
  background-color: var(--color__bg);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color__primary);
  text-align: center;
  line-height: 40px;
}

.title-small {
  padding: 0%;
  font-size: 1.3rem;
}

.title-outlined {
  padding: 0% 8%;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 400;
}

.color-secundary {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--color__primary);
  text-align: center;
  line-height: 40px;
  padding: 0;
  color: #50e3c2;
}

.title-ns {
  font-size: 1.5rem;
  padding: 0;
}

.color-black {
  color: var(--color__text);
}
/*# sourceMappingURL=main.css.map */