body {
	background-color: var(--color__bg);
}

.d-none-md {
	display: none;

	@include media(sm) {
		display: initial;
	}
}

.line {
	background-color: $grey;
	width: 30%;
	height: 1px;
	margin-bottom: 60px;
}

.section-img {
	width: 100px;
	min-width: 30px;
}

// TODO: Page Main ************************************
.svg-gifos-fill {
	fill: var(--color__primary);
}

.section-header {
	padding: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header-search {
	padding: 5%;
}

.section-search-footer {
	padding: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.gifos-color {
	br {
		display: initial;

		@include media(sm) {
			display: none;
		}
	}
}

#section-search {
	display: grid;
	grid-template-columns: 1fr;
}

.section-search {
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include media(md) {
		width: 50%;
	}

	@include media(sm) {
		width: 80%;
	}

	img {
		width: 70%;
	}
}

#icon-search-left {
	display: none;
	position: absolute;
	top: 14px;
	left: 21px;
	font-size: $font-size-n;
	color: $grey;
}

#icon-search-right {
	position: absolute;
	top: 14px;
	right: 21px;
	font-size: $font-size-n;
	color: var(--color__primary);
	cursor: pointer;
}

.search-input {
	position: relative;
	padding: 2px;
	width: 100%;
	border-radius: 30px;
	border: 1px solid var(--color__primary);

	input {
		padding: 0px 60px;
		font-family: $font-primary;
		background-color: var(--color__bg);
		color: var(--color__text);
		width: 100%;
		height: 50px;
		border: none;
		outline: none;
		border-radius: 30px;
		font-size: $font-size-s;

		&::placeholder {
			color: $grey;
		}

		@include media(xs) {
			padding: 0% 18%;
		}
	}

	.autocom-box {
		display: none;
		margin: 0px 20px 15px 20px;
		border-top: 1px solid $grey;

		@include media(md) {
			display: none;
		}

		li {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			cursor: default;
			margin-top: 10px;
			font-family: $font-primary;
			font-size: $font-size-s;
			color: $grey;

			i {
				z-index: -1;
				margin-right: 10px;
				font-size: $font-size-n;
			}
		}
	}

	&.active {
		#icon-search-left {
			display: inline-block;
		}

		.autocom-box {
			display: block;
		}
	}
}

#info-search {
	display: none;

	&.active {
		display: block;
	}
}

#gifs-section {
	display: none;

	#gifs-data {
		display: none;
	}

	#gifs-no-data {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.active-data {
		display: block;

		#gifs-data {
			display: block;
		}
	}

	&.active-no-data {
		display: block;

		#gifs-no-data {
			display: flex;
		}
	}
}

.gifs-results {
	padding: 0% 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 25px;

	@include media(md) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include media(sm) {
		grid-template-columns: 1fr 1fr;
	}
}

#gifs-no-data {
	padding: 4% 8% 8% 8%;

	img {
		margin-bottom: 30px;
	}

	p {
		color: $color__secondary;
	}
}

#trending-GIFOS {
	background-color: var(--color__bg__grey);
}

.list-gifs {
	display: grid;
	grid-template-columns: 1fr 80% 1fr;
	grid-template-rows: 1fr;
	padding-bottom: 15%;

	@include media(sm) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.content-arrow-left {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include media(sm) {
			display: none;
		}
	}

	.content-arrow-right {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include media(sm) {
			display: none;
		}
	}

	#gifs-trending {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0;
		overflow: hidden;

		@include media(sm) {
			display: block;
			white-space: nowrap;
			overflow-x: scroll;
			padding: 0% 5%;
		}

		.gif-container {
			margin: 0;
			width: 30%;
			min-width: 200px;

			@include media(sm) {
				display: inline-block;
				margin: 10px;
				width: 320px;
			}

			@include media(xs) {
				width: 200px;
			}
		}
	}
}

// TODO end page main... *******************************
