body {
	background-color: var(--color__bg);
}

#svg-GIFOS {
	fill: var(--color__primary);
}

.section-header {
	padding: 10%;
}

#section-search {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-search {
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 70%;
	}
}

.section-search-footer {
	padding: 5% 10% 10% 10%;
}

.bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 50px;
	border-radius: 30px;
	border: 1px solid var(--color__primary);

	i {
		position: absolute;
		right: 40px;
		font-size: 20px;
		color: var(--color__primary);
	}

	input {
		font-family: $font-primary;
		background-color: var(--color__bg);
		color: var(--color__text);
		width: 80%;
		height: 100%;
		border: none;
		font-size: 16px;
		outline: none;
		appearance: none;
	}
}

#trending-GIFOS {
	background-color: var(--color__bg__grey);
}

.list-gifs {
	ul {
		white-space: nowrap;
		overflow-x: scroll;
		padding-left: 10%;
		padding-bottom: 20%;
	}
}
