.circle-button {
	display: inline-block;
	background-color: var(--color__bg);
	border: 1px solid var(--color__primary);
	border-radius: 50%;
	width: 54px;
	height: 54px;

	span {
		display: block;
		width: 17px;
		height: 2px;
		background-color: var(--color__primary);
		position: relative;
		left: 18px;
	}

	.line-1 {
		top: 25px;
	}

	.line-2 {
		top: 23px;
		transform: rotate(90deg);
	}

	&:hover {
		background-color: var(--color__primary);

		span {
			background-color: var(--color__bg);
		}
	}

	&:active {
		background-color: $grey;
		border: 1px solid $grey;

		span {
			background-color: var(--color__bg);
		}
	}
}

.arrow-left {
	@include arrow;
}

.arrow-right {
	@include arrow;
}
