.gif {
	height: 200px;
	background-color: grey;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;

	button {
		cursor: pointer;
		margin: 2px;
		width: 32px;
		height: 32px;
		background-color: $grey;
		border: none;
		border-radius: 6px;

		i {
			color: $color__primary;
		}

		&:hover {
			background-color: $white;
		}
	}

	&:hover {
		background-color: var(--color__primary__transparent);

		.gif-actions {
			display: inline-block;
		}
		.gif-info {
			display: inline-block;
		}
	}

	.gif-info {
		align-self: flex-start;

		p {
			font-family: $font-primary;
			font-size: $font-size-xs;
			color: $white;
		}

		.gif-user {
			margin-bottom: 10px;
		}
		.gif-title {
			font-weight: bold;
			margin-bottom: 30px;
		}
	}
}

.gif-actions {
	display: none;
}

.gif-info {
	display: none;
}
