// Colores
$primary: #572ee5;
$primary-transparent: rgba(87, 46, 229, 0.9);
$secundary: #50e3c2;
$black: #060a24;
$grey: #9cafc3;
$white: #ffffff;

// Tipografias
$font-primary: 'Roboto', sans-serif;
$font-secundary: 'Montserrat', sans-serif;
$font-size-xs: 1rem;
$font-size-s: 1.1rem;
$font-size-n: 1.5rem;
$font-size-m: 2.3rem;
$font-size-l: 3rem;
$font-size-xl: 3.8rem;
